name: Release

on:
  release:
    types: [published]
  workflow_dispatch:

defaults:
  run:
    shell: bash -l {0}  # required for conda env

jobs:
  build_wheels:
    name: Wheels
    runs-on: 'ubuntu-24.04'

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # history required so setuptools_scm can determine version

      - uses: actions/setup-python@v5
        with:
          python-version-file: '.github/workflows/python-version-ci'

      - run: python -m pip install --upgrade pip
      - run: python -m pip install -r requirements/wheels.txt

      - name: Build wheels
        run: python -m build

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist

  upload_pypi:
    name: Deploy PyPI
    needs: [build_wheels]
    runs-on: 'ubuntu-24.04'
    environment: release
    permissions:
      id-token: write
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
      - uses: actions/download-artifact@v4
      - uses: pypa/gh-action-pypi-publish@v1.12.4

  docs:
    needs: [upload_pypi]
    uses: ./.github/workflows/docs.yml
    with:
      publish: ${{ github.event_name == 'release' && github.event.action == 'published' }}
    secrets: inherit

  assets:
    name: Upload docs
    needs: docs
    runs-on: 'ubuntu-24.04'
    permissions:
      contents: write  # This is needed so that the action can upload the asset
    steps:
    - uses: actions/download-artifact@v4
    - name: Zip documentation
      run: |
        mv docs_html documentation-${{ github.ref_name }}
        zip -r documentation-${{ github.ref_name }}.zip documentation-${{ github.ref_name }}
    - name: Upload release assets
      uses: svenstaro/upload-release-action@v2
      with:
        file: ./documentation-${{ github.ref_name }}.zip
        overwrite: false
